.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px;
}

p{  
    align-self: center;
}
.primarios,.first_row,.second-row, .third-row{
    display: flex;
}

.red{
    background-color: red;
}
.green{
    background-color: rgb(79, 252, 79);
}
.blue{
    background-color: blue;
}
.purple{
    background-color: rgb(210, 37, 210);
}
.yellow{
background-color: yellow;
}
.turquoise{
    background-color: aqua;
}
